aws_region = "ap-south-1"

project_name = "web-app"
environment  = "dev"

ecr_repository_name = "web-app"
eks_cluster_name    = "web-app-eks"
ecs_cluster_name    = "web-app-ecs"

image_tag = "latest"

public_ingress_cidrs    = ["0.0.0.0/0"]
eks_public_access_cidrs = ["0.0.0.0/0"]

eks_node_instance_types = ["t3.small"]
eks_desired_nodes       = 2
eks_min_nodes           = 1
eks_max_nodes           = 2

log_retention_days = 14
alarm_actions      = []

argocd_git_repo_url = "https://github.com/Jayapramod/Eks-Ecs-deployment.git"
argocd_app_path     = "k8s/web-app"

# Fill these after RDS/Secrets Manager are added.
db_host                = ""
db_name                = "webapp"
db_user                = "app_user"
db_password_secret_arn = ""
